@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin hoverable {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin ui-default-hover {
  @include hoverable {
    transition: opacity var(--transition-short) linear;

    &:hover {
      opacity: .6;
    }
  }
}

@keyframes active-link {

  from {
    font-weight: 100;
  }

  to {
    font-weight: 900;
  }
}

@keyframes inactive-link {

  from {
    font-weight: 900;
  }

  to {
    font-weight: 100;
  }
}

@mixin ui-bold-link {
  animation: active-link var(--transition-short) ease-in forwards;
}

@mixin ui-thin-link {
  animation: inactive-link var(--transition-short) ease-in forwards;
}
