@font-face {
  font-family: "Victor Mono";
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/VictorMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto-VariableFont_wdth,wght.ttf");
}

body {
  margin: 0;
  padding: 0;
  background: var(--colors-primary);

  &.scroll-locked {
    touch-action: none;
    overflow: hidden;
  }
}

html {
  display: flex;
  flex: 1;
  flex-direction: column;

  box-sizing: border-box;
  min-height: 100%;

  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--colors-primary-text);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  &.color-theme-transition {

    *,
    *::before,
    *::after {
      transition: background var(--transition-short) ease-in, color var(--transition-short) ease-in,
        border-color var(--transition-short) ease-in, fill var(--transition-short) ease-in,
        stroke var(--transition-short) ease-in !important;
    }
  }

  &,
  body,
  #__nuxt,
  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  @include typo-sans-serif;
  @include typo-16;
}

button {
  padding: 0;

  font-family: inherit;
  color: inherit;

  appearance: none;
  background: transparent;
  border: none;
  box-shadow: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  @include typo-h1;
}

h2 {
  @include typo-h2;
}

h3 {
  @include typo-h3;
}
